table.activeboard-climbers {

  display: block;

  td {
    border: 1px solid #555;
  }

  .activeclimber-route {
    font-family: League Spartan, sans-serif;

  }

  .activeclimber-id {

  }

  .activeclimber-name {

  }
}