// Copied from Foundation's ".top-bar a"
.top-bar span {
  color: #fff;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  padding-left: 0.9375rem;
  padding: 12px 0 12px 0.9375rem;
  text-transform: none;
  width: 100%;
}

section.section-activeboard {
  margin-bottom: 30px;
}

span.crimp-env-marker {
  display: block;
  position: absolute;
  top: 5px;
  color: red;

  &.crimp-env-production {
    left: 0px;
    font-size: 0.7rem;
  }

  &.crimp-env-demo {
    left: 60px;
    font-size: 0.7rem;
  }
}

.spectator-crimp-conn {
  display: block;
  position: absolute;
  top: -14px;
  right: 0px;
  width: auto !important;
}