.admin-header {
  > * {
    display: inline-block;
  }

  // Copied from .top-bar-section ul li>a
  #login-buttons {
    color: #fff;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 0rem;
    font-weight: normal;
    padding-left: 0.9375rem;
    padding: 12px 0 12px 0.9375rem;
    text-transform: none;
    width: 100%;
    border-left: 1px #555 solid;

    .login-display-name {
      font-size: 0.8125rem;
    }

    .login-button {
      font-size: 0.5rem;
      margin-left: 10px;
    }
  }
}

.crimp-admin-section {
  .columns {
    border: 1px solid #000;
  }
}

.crimp-admin-denied {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 400px;
  height: 100px;
  margin-top: -50px;
  margin-left: -200px;
  text-align: center;

  p {
    font-family: League Spartan;
    font-size: 1.25rem;
  }
}

.admin_dashboard {

  table.admin-monitoring-table {
    width: 100%;

    .admin-monitoring-header {
      font-weight: 700;
      padding: 5px 0;
    }

    .admin-approvejudge-roles {
      height: 30px;
      padding: 0rem 0.6rem 0rem 0.3rem;
      margin: 0 auto;
    }

    .admin-approvejudge-set i {
      font-size: 1rem;
    }

    .admin-recentscore-cell-score {
      word-break: break-all;
    }

    .admin-recentscore-cell-label,
    .admin-recentscore-cell-time {
      word-wrap: keep-all;
      white-space: nowrap;
      text-align: center;
    }
  }

  .admin-scoreboard-overflow {
    height: calc(100vh - 125px);
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #ddd;
  }

  .admin-scoreboard-overflow-parent {
    padding: 0;
  }
}

.admin_database {
  .hide {
    visibility: hidden;
  }

  table.admin-data-table {
    width: 100%;

    .admin-data-header {
      font-weight: 700;
      padding: 5px 0;
    }
  }
}
