select.scoreboard-categories {
  height: 3rem;
  font-family: League Gothic, sans-serif;
  font-size: 1.9rem;
  text-decoration: underline;


  option {
    font-size: 1rem;
  }
}

.scoreboard-categories {
  position: relative;
  border: 0;
  padding: 0;
  margin: 0;

  i {
    display: block;
    position: absolute;
    font-size: 30px;
    top: 50%;
    right: 0;
    margin-top: -15px;

    color: #757575;
  }

  #scoreboard-categories-link {
    margin: 0;
    padding: 5px 0;
    font-family: League Gothic, sans-serif;
    font-size: 1.6875rem;
    text-align: left;
    color: #000;
    background-color: transparent;
  }
}
@media only screen and (min-width: 40.0625em) {
  .scoreboard-categories #scoreboard-categories-link {
    font-size: 2.3125rem;
  }
}
.scoreboard-categories-dropdown {
  table {
    width: 100%;
    margin: 0 auto;
    border: 0;
  }


  td:nth-child(1) {
    text-align: right;
    font-weight: 700;
    font-family: League Spartan, sans-serif;

    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td:nth-child(2) {
    text-align: right;
    font-size: 1rem;
  }

  td:nth-child(3) {
    text-align: left;
    font-size: 1rem;
  }
}

ul.scoreboard-climbers {
  min-width: 290px;
  margin: 0;
  list-style: none;

  li {
    line-height: 1.5rem;

    .climber-row {
      position: relative;

      .climber-rank {
        width: 20px;
        height: 24px;
        font-family: League Gothic, sans-serif;
        font-size: 1.5rem;
        vertical-align: middle;
        text-align: center;
        padding: 0 10px 0 5px;
      }

      .climber-id {
        width: 60px;
        height: 24px;
        padding: 0 5px 0 10px;
      }

      // Note: In order to truncate long names, this class is a hack.
      // The padding provides space for div.climber-rank, div.climber-id,
      // div.climber-status, div.climber-scoretotal
      .climber-name {
        // border: 1px solid salmon;
        display: block;
        position: absolute;
        width: 100%;
        height: 24px;
        top: 0;
        left: 0;
        padding: 0 90px 0 35px;   // Hack to add space on side
                                  // Note: @media below

        word-wrap: break-word;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        i {
          vertical-align: bottom;
          margin-right: 5px;
        }
      }

      .climber-status {
        height: 24px;
      }
    }
  }
}

@media only screen and (min-width: 64.063em) {
  ul.scoreboard-climbers li .climber-row .climber-name {
    padding: 0 90px 0 85px;
  }
}

.scoreboard-header {

  p {
    position: absolute;
  }
}

// Keep this outside ul.scoreboard-climbers to reuse in .scoreboard-header
.climber-scoretotal {
  // border: 1px solid green;
  width: 45px;
  height: 24px;
  text-align: center;


  .climber-scoretotal-label {
    vertical-align: middle;
  }
}


table.climber-scores {
  display: block;
  font-size: 0;
  border: 0;

  tr {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    // border: 1px solid orange;

    td {
      position: relative;
      display: inline-block;
      width: 16.6%;
      height: 1.2rem;
      border-right: 1px solid #555;
      padding: 0.2rem 0.2rem;

      font-size: 0.875rem;
      line-height: 0.875em;
      text-align: center;
    }

    td:last-child {
      border-right: 0;
    }
  }


}