<template name="crimp_admin">
  <header class="admin-header">
    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a>CRIMP Admin</a></h1>

            {{ #if isNotProduction }}
              <span class="crimp-env-marker crimp-env-production">DEVELOPMENT</span>
            {{ /if }}
            {{ #if isDemo }}
              <span class="crimp-env-marker crimp-env-demo">DEMO</span>
            {{ /if }}
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>



        <section class="top-bar-section">
          <ul class="right">
            <li><span class="crimp-conn">{{ > conn_status }}</span></li>

            {{ #if isVerified }}
              <li><a id="crimp-admin-link-dashboard">Dashboard</a></li>
              <li><a id="crimp-admin-link-database">Database</a></li>
              <li>{{ > loginButtons }}</li>
            {{ /if }}
          </ul>
        </section>
      </nav>
    </div>
  </header>


  {{ #if isLoggedIn }}
    {{ #if isVerified }}
      <div class="crimp-admin-section">
        {{ > UI.dynamic template=adminSectionView}}
      </div>
    {{ else }}
      <div class="crimp-admin-denied">
        <p>Please contact admin for access.</p>
      </div>
    {{ /if }}
  {{ else }}
    <div class="crimp-admin-denied">
      <p>Admin area. Please sign-in.</p>
      {{ > loginButtons }}
    </div>
  {{ /if }}
</template>



<template name="admin_dashboard">
  <section class="admin_dashboard">
    <div class="row">
      <section class="small-12 medium-4 columns">
        <h2>Active Admins</h2>
        <table class="admin-monitoring-table">
          <tr class="admin-monitoring-header">
            <td class="admin-activeboard-route">Route</td>
            <td class="admin-activeboard-admin">Admin+Climber</td>
            <td class="admin-activeboard-action"></td>
          </tr>

          {{ #each adminActiveClimbers }}
            <tr>
              <td class="admin-activeboard-route">
                <b>{{ route_id }}</b><br>{{ climber_id }}
              </td>
              <td class="admin-activeboard-admin">{{ admin_name }}<br>
                {{ #if climber_id }}
                  {{ climber_name }}
                {{ else }}
                  No climber on route
                {{ /if }}
              </td>
              <td>
                <a class="admin-activeboard-remove alert label" data-routeId="{{ route_id }}">Remove</a>
              </td>
            </tr>
          {{ /each }}
        </table>


        <h2>Pending Admins</h2>
        <table class="admin-monitoring-table">
          <tr class="admin-monitoring-header">
            <td>Name</td>
            <td>New Role</td>
            <td></td>
          </tr>
          {{ #each adminPendingJudges }}
            <tr>
              <td>{{ profile.name }}<br>{{ email }}</td>
              <td>
                <select class="admin-approvejudge-roles" id="admin-approvejudge-{{ _id }}">
                  <option value="judge" selected="true">judge</option>
                  <option value="denied">denied</option>
                  <option value="partner">partner</option>
                  <option value="admin">admin</option>
                </select>
              </td>
              <td>
                <a class="admin-approvejudge-set success label" data-userId="{{ _id }}"><i class="material-icons">check</i></a>
              </td>
            </tr>
          {{ /each }}
        </table>

        <p>To change a user's permission again, go to <i>Database</i>, click on <i>Admins</i> and change from there.</p>
      </section>


      <section class="small-12 medium-4 columns">
        <h2>Most Recent Scores</h2>

        <table class="admin-monitoring-table">
          <tr class="admin-monitoring-header">
            <td class="admin-recentscore-cell-label">Route+Climber</td>
            <td class="admin-recentscore-cell-score">Score</td>
            <td class="admin-recentscore-cell-time"></td>
          </tr>

          {{ #each adminRecentScores }}
            <tr>
              <td class="admin-recentscore-cell-label">
                <b>{{ route_id }}</b> {{ climber_id }}
              </td>
              <td class="admin-recentscore-cell-score">{{ score_string }}</td>
              <td class="admin-recentscore-cell-time">{{ updated_at }}</td>
            </tr>
          {{ /each }}
        </table>
      </section>


      <section class="small-12 medium-4 columns admin-scoreboard-overflow-parent">
        <h2>Overall Scores</h2>

        <div class="admin-scoreboard-overflow">
          {{ > scoreboard }}
        </div>
      </section>
    </div>
  </section>
</template>



<template name="admin_database">
  <section class="admin_database">
    <div class="row">
      <section class="small-12 medium-2 columns">
        <h2>Databases</h2>

        <ul>
          <li><a class="admin-middleColumn" data-templateId="admin_db_categories">Categories</a></li>
          <li><a class="admin-middleColumn" data-templateId="admin_db_climbers">Climbers &amp; Scores</a></li>
          <li><a class="admin-middleColumn" data-templateId="admin_db_users">Admins</a></li>
        </ul>

        <p>You can click all the blue buttons here. It will not change data unless the button says 'Submit'</p>
      </section>

      <section class="small-12 medium-6 columns">
        {{ > UI.dynamic template=templateMiddleColumn}}
      </section>

      <section class="small-12 medium-4 columns">
        {{ > UI.dynamic template=templateRightColumn}}
      </section>
    </div>
  </section>
</template>



<template name="admin_db_users">
  <h2>List of Users</h2>
  <p><b>Explanation of Roles:</b><br>
  Pending - No permissions yet<br>
  Denied - Stranger tried to login, deny him access<br>
  Partner - Can read data in admin area, cannot edit<br>
  Judge - Can read data in admin area, can only edit scores<br>
  Admin - Hopefully that's you, can do everything<br>
  Hukkataival - God mode with 100% access</p>

  <p>There will be names that repeat twice: one login for Android app, the other login for the admin interface. Set both to admin if they are admins.</p>

  <table class="admin-data-table">
    <tr class="admin-data-header">
      <td>Name</td>
      <td>Role</td>
      <td> </td>
    </tr>
  {{ #each users }}
    <tr>
      <td>{{ profile.name }}</td>
      <td>{{ roles }}</td>
      <td><a class="label admin-users-edit" data-userId="{{ _id }}">Edit</a> </td>
    </tr>
  {{ /each }}
  </table>
</template>

<template name="admin_db_users_form">
  <h2>Editing CRIMP Users</h2>
  {{ #autoForm schema=userSchema doc=targetUser id="updateUserForm" type="method" meteormethod="changeUserRole" }}
    <fieldset>
      {{ > afQuickField name="name" label="Name (Will not be edited)" }}
      {{ > afQuickField name="user_role" options=userRoleOptions }}
      {{ > afQuickField name="user_id" class="hide" label=false }}
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </fieldset>
  {{ /autoForm }}
</template>



<template name="admin_db_climbers">
  <h2>List of Climbers</h2>

  <b>Category</b>
  <select class="admin-categories-select">
    {{ #each categories }}
      <option value="{{ category_id }}">{{ category_name }}</option>
    {{ /each }}
  </select>

  <br><br>

  <b>Climbers</b>
  <ul class="scoreboard-climbers">
    {{ #each climbers }}
      <li>
        <div class="climber-row clearfix">
          <div class="climber-id show-for-large-up left">{{ climber_id }}</div>
          <div class="climber-name left">
            {{ climber_name }}
            {{ standard_status }}
            {{ additional_status }}
          </div>

          <div class="climber-scoretotal right">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="climber-scoretotal right">
            <a class="label admin-climbers-edit" data-climberId="{{ _id }}">Edit Name</a>
          </div>
        </div>



        <div class="climber-row">
          <table class="climber-scores">
            <tr>
              {{ #each scores }}
                <td data-route="{{ route_id }}">
                  <a class="label admin-scores-edit" data-scoreId="{{ _id }}">t{{ score_top }} b{{ score_bonus }}</a>
                </td>
              {{ /each }}
            </tr>
          </table>
        </div>

      </li>
    {{ /each }}
  </ul>
</template>

<template name="admin_db_climbers_form">
  <h2>Editing Climbers</h2>
  {{ > quickForm collection="Climbers" doc=targetClimber id="updateClimbers" type="update" }}
</template>

<template name="admin_db_scores_form">
  <h2>Editing Scores</h2>

  <p><b>
  Climber: {{ targetScore.climber_id }}<br>
  Route: {{ targetScore.route_id }}
  </b></p>

  {{ #autoForm collection="Scores" doc=targetScore id="updateScores2" type="update" }}
    {{ > afQuickField name='score_string' }}
    {{ > afQuickField name='score_top' }}
    {{ > afQuickField name='score_bonus' }}
    {{ > afQuickField name='admin_id' value=currentAdminId class="hide" label=false }}

    <button type="submit" class="btn btn-primary">Submit</button>
  {{ /autoForm }}

</template>



<template name="admin_db_categories">
  <h2>List of Categories</h2>
  <table class="admin-data-table">
    <tr>
      <td>ID</td>
      <td>Category</td>
      <td>Finalized<br>Scores?</td>
      <td></td>
    </tr>
    {{ #each categories }}
      <tr>
        <td>{{ category_id }}</td>
        <td>{{ category_name }}</td>
        <td>
          {{ #if scores_finalized }}
            Yes
          {{ else }}
            No
          {{ /if }}
        </td>
        <td>
          <a class="label admin-categories-edit" data-categoryId="{{ category_id }}">
            Edit
          </a>
        </td>
      </tr>
    {{ /each }}
  </table>
</template>

<template name="admin_db_categories_form">
  <h2>Editing Category</h2>

  {{ > quickForm collection="Categories" doc=targetCategory id="updateCategories" type="update" }}
</template>

<template name="admin_db_blank">

</template>