// Copied from Foundation's ".top-bar a"
.top-bar span {
  color: #fff;
  display: block;
  font-size: 0.8125rem;
  font-weight: normal;
  padding-left: 0.9375rem;
  padding: 12px 0 12px 0.9375rem;
  text-transform: none;
  width: 100%;
}

section.section-activeboard {
  margin-bottom: 30px;
}