<template name="crimp_admin">
  <header class="admin-header">
    <div class="contain-to-grid sticky">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a>CRIMP Admin</a></h1>

            {{ #if isNotProduction }}
              <span class="crimp-env-marker crimp-env-production">DEVELOPMENT</span>
            {{ /if }}
            {{ #if isDemo }}
              <span class="crimp-env-marker crimp-env-demo">DEMO</span>
            {{ /if }}
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>



        <section class="top-bar-section">
          <ul class="right">
            <li><span class="crimp-conn">{{ > conn_status }}</span></li>

            {{ #if isVerified }}
              <li><a id="crimp-admin-link-dashboard">Dashboard</a></li>
              <li><a id="crimp-admin-link-database">Database</a></li>
              <li>{{ > loginButtons }}</li>
            {{ /if }}
          </ul>
        </section>
      </nav>
    </div>
  </header>


  {{ #if isLoggedIn }}
    {{ #if isVerified }}
      <div class="crimp-admin-section">
        {{ > UI.dynamic template=adminSectionView}}
      </div>
    {{ else }}
      <div class="crimp-admin-denied">
        <p>Please contact admin for access.</p>
      </div>
    {{ /if }}
  {{ else }}
    <div class="crimp-admin-denied">
      <p>Admin area. Please sign-in.</p>
      {{ > loginButtons }}
    </div>
  {{ /if }}
</template>


<template name="admin_dashboard">
  <section class="admin_dashboard">
    <div class="row">
      <section class="small-12 medium-4 columns">
        <h2>Active Admins</h2>
        <table class="admin-monitoring-table">
          <tr class="admin-monitoring-header">
            <td class="admin-activeboard-route">Route</td>
            <td class="admin-activeboard-admin">Admin+Climber</td>
            <td class="admin-activeboard-action"></td>
          </tr>

          {{ #each adminActiveClimbers }}
            <tr>
              <td class="admin-activeboard-route">
                <b>{{ route_id }}</b><br>{{ climber_id }}
              </td>
              <td class="admin-activeboard-admin">{{ admin_name }}<br>
                {{ #if climber_id }}
                  {{ climber_name }}
                {{ else }}
                  No climber on route
                {{ /if }}
              </td>
              <td>
                <a class="admin-activeboard-remove alert label" data-routeId="{{ route_id }}">Remove</a>
              </td>
            </tr>
          {{ /each }}
        </table>


        <h2>Pending Admins</h2>
        <table class="admin-monitoring-table">
          <tr class="admin-monitoring-header">
            <td>Name</td>
            <td>New Role</td>
            <td></td>
          </tr>
          {{ #each adminPendingJudges }}
            <tr>
              <td>{{ profile.name }}<br>{{ email }}</td>
              <td>
                <select class="admin-approvejudge-roles" id="admin-approvejudge-{{ _id }}">
                  <option value="judge">judge</option>
                  <option value="denied">denied</option>
                  <option value="partner">partner</option>
                  <option value="admin">admin</option>
                </select>
              </td>
              <td>
                <a class="admin-approvejudge-set success label" data-userId="{{ _id }}"><i class="material-icons">check</i></a>
              </td>
            </tr>
          {{ /each }}
        </table>
      </section>


      <section class="small-12 medium-4 columns">
        <h2>Most Recent Scores</h2>

        <table class="admin-monitoring-table">
          <tr class="admin-monitoring-header">
            <td class="admin-recentscore-cell-label">Route+Climber</td>
            <td class="admin-recentscore-cell-score">Score</td>
            <td class="admin-recentscore-cell-time"></td>
          </tr>

          {{ #each adminRecentScores }}
            <tr>
              <td class="admin-recentscore-cell-label">
                <b>{{ route_id }}</b> {{ climber_id }}
              </td>
              <td class="admin-recentscore-cell-score">{{ score_string }}</td>
              <td class="admin-recentscore-cell-time">{{ updated_at }}</td>
            </tr>
          {{ /each }}
        </table>
      </section>


      <section class="small-12 medium-4 columns admin-scoreboard-overflow-parent">
        <h2>Overall Scores</h2>

        <div class="admin-scoreboard-overflow">
          {{ > scoreboard }}
        </div>
      </section>
    </div>
  </section>
</template>



<template name="admin_database">
  <div class="row">
    <section class="small-12 medium-2 columns">
      <h2>Databases</h2>

      <ul>
        <li><a>Categories</a></li>
        <li><a>Climbers &amp; Scores</a></li>
        <li><a>Admins</a></li>
      </ul>

    </section>
    <section class="small-12 medium-5 columns">
      {{ > admin_db_categories }}
    </section>

    <section class="small-12 medium-5 columns">
      {{ > admin_db_categories_form }}
    </section>
  </div>
</template>

<template name="admin_db_categories">
  <h2>List of Categories</h2>
  <table>
    <tr>
      <td>ID</td>
      <td>Category</td>
      <td>Finalized<br>Scores?</td>
      <td></td>
    </tr>
    {{ #each categories }}
      <tr>
        <td>{{ category_id }}</td>
        <td>{{ category_name }}</td>
        <td>
          {{ #if scores_finalized }}
            Yes
          {{ else }}
            No
          {{ /if }}
        </td>
        <td>
          <a class="label admin-categories-edit" data-categoryId="{{ category_id }}">
            Edit
          </a>
        </td>
      </tr>
    {{ /each }}
  </table>
</template>

<template name="admin_db_categories_form">
  <h2>Editing Category</h2>
  {{ > quickForm collection="Categories" doc=updateDocCategory id="updateCategories" type="update" }}
</template>
