<template name="scoreboard">
  {{ > scoreboard_header }}
  {{ > scoreboard_climbers }}
</template>


<template name="scoreboard_header">
  <!-- <select class="scoreboard-categories">
    {{ #each categories }}
      {{ #if isCurrentCategory category_id }}
        <option value="{{ category_id }}" selected>{{ category_name }}</option>
      {{ else }}
        <option value="{{ category_id }}">{{ category_name }}</option>
      {{ /if }}
    {{ /each }}
  </select> -->


  <!-- Custom category selection for Boulderactive -->
  <div class="scoreboard-categories">
    <a class="button expand" id="scoreboard-categories-link" data-dropdown="drop">Click for Categories<i class="material-icons">more_vert</i></a>
  </div>
  <div id="drop" class="mega content f-dropdown scoreboard-categories-dropdown" data-dropdown-content>
    <table>
      <tr>
        <td>U17 Men</td>
        <td><a class="scoreboard-categories-options" data-categoryId="UMQ">Qualifiers</a></td>
        <td><a class="scoreboard-categories-options" data-categoryId="UMF">Final</a></td>
      </tr>
      <tr>
        <td>U17 Women</td>
        <td><a class="scoreboard-categories-options" data-categoryId="UWQ">Qualifiers</a></td>
        <td><a class="scoreboard-categories-options" data-categoryId="UWF">Final</a></td>
      </tr>
      <tr>
        <td>Novice Men</td>
        <td><a class="scoreboard-categories-options" data-categoryId="NMQ">Qualifiers</a></td>
        <td><a class="scoreboard-categories-options" data-categoryId="NMF">Final</a></td>
      </tr>
      <tr>
        <td>Novice Women</td>
        <td><a class="scoreboard-categories-options" data-categoryId="NWQ">Qualifiers</a></td>
        <td><a class="scoreboard-categories-options" data-categoryId="NWF">Final</a></td>
      </tr>
      <tr>
        <td>Intermediate Men</td>
        <td><a class="scoreboard-categories-options" data-categoryId="IMQ">Qualifiers</a></td>
        <td><a class="scoreboard-categories-options" data-categoryId="IMF">Final</a></td>
      </tr>
      <tr>
        <td>Intermediate Women</td>
        <td><a class="scoreboard-categories-options" data-categoryId="IWQ">Qualifiers</a></td>
        <td><a class="scoreboard-categories-options" data-categoryId="IWF">Final</a></td>
      </tr>
      <tr>
        <td>Open Men</td>
        <td><a class="scoreboard-categories-options" data-categoryId="OMQ">Qualifiers</a></td>
        <td><a class="scoreboard-categories-options" data-categoryId="OMF">Final</a></td>
      </tr>
      <tr>
        <td>Open Women</td>
        <td><a class="scoreboard-categories-options" data-categoryId="OWQ">Qualifiers</a></td>
        <td><a class="scoreboard-categories-options" data-categoryId="OWF">Final</a></td>
      </tr>
      <tr>
        <td>Invitational Men</td>
        <td><a class="scoreboard-categories-options" data-categoryId="VMQ">Qualifiers</a></td>
        <td><a class="scoreboard-categories-options" data-categoryId="VMF">Final</a></td>
      </tr>
      <tr>
        <td>Invitational Women</td>
        <td><a class="scoreboard-categories-options" data-categoryId="VWQ">Qualifiers</a></td>
        <td><a class="scoreboard-categories-options" data-categoryId="VWF">Final</a></td>
      </tr>
    </table>
  </div>



  <div class="scoreboard-header clearfix">
    {{ #if isCurrentCategoryFinalized }}
      <p><b>Scores for {{ currentCategory }} have been finalized</b></p>
    {{ /if }}
    <div class="climber-scoretotal right"><b>Bonus</b></div>
    <div class="climber-scoretotal right"><b>Top</b></div>
  </div>
</template>


<template name="scoreboard_climbers">
  <ul class="scoreboard-climbers">
    {{ #each climbers }}
      <li>
        <div class="climber-row clearfix">
          <div class="climber-rank left" data-tiebreak="{{ scores_tiebreak }}">{{ rank }}</div>
          <div class="climber-id show-for-large-up left">{{ climber_id }}</div>
          <div class="climber-name left">
            {{ #if standard_status }}
              <i class="material-icons">{{ standard_status }}</i>
            {{ /if }}
            {{ climber_name }}
          </div>


          <div class="climber-scoretotal right">
            <span class="label round climber-scoretotal-label climber-bonus">
              {{ bonuses }}b{{ bonusAttempts }}
            </span>
          </div>
          <div class="climber-scoretotal right">
            <span class="label round climber-scoretotal-label climber-top">
              {{ tops }}t{{ topAttempts }}
            </span>
          </div>
        </div>

        <div class="climber-row">
          <table class="climber-scores">
            <tr>
              {{ #each scores }}
                <td data-route="{{ route_id }}">
                t{{ score_top }} b{{ score_bonus }}
                </td>
              {{ /each }}
            </tr>
          </table>
        </div>

      </li>
    {{ /each }}
  </ul>
</template>