
<template name="scoreboard">
  <p>SCOREBOARD</p>

  <p>CATEGORIES</p>
  {{ > scoreboard_categories }}

  <p>CLIMBERS</p>
  {{ > scoreboard_climber }}
</template>



<template name="scoreboard_categories">
  <select class="scoreboard-categories">
    {{ #each categories }}

      {{ !TODO: There should be a more elegant way of doing this }}
      {{ #if selectedCategory id }}
        <option value="{{ id }}" selected>{{ name }}</option>
      {{ else }}
        <option value="{{ id }}">{{ name }}</option>
      {{ /if }}

    {{ /each }}
  </select>
  {{ setvalue }}
</template>



<template name="scoreboard_climber">
  <ul>
    {{ #each climbers }}
      <li>
        {{ _id }}<br>
        {{ name }}<br>
        {{ id }}<br>
        {{ category_id }} - {{ number }}<br>
        {{ affliation }}<br>
        {{ scores_tiebreak }}<br>
        {{ standard_status }}<br>
        {{ additional_status }}<br>
        --

        --
      </li>
    {{ /each }}
  </ul>
</template>