<head>
  <meta charset="UTF-8">
  <meta name="description" content="A real-time scoring system for climbing events. Ditch your Excel sheets and get instant scores and rankings.">
  <meta name="keywords" content="climbing, bouldering, sport-climbing, competition, real-time scoring">
  <meta name="author" content="CRIMP Development Team">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">



  <meta property="og:title" content="CRIMP">
  <meta property="og:image" content="">
  <meta property="og:description" content="A real-time scoring system for climbing events. Ditch your Excel sheets and get instant event scores and rankings.">



  <title>CRIMP</title>
  <link rel="shortcut icon" href="" type="image/png">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
</head>

<body>

  {{! Route will render templates just before the closing body tag }}
</body>
