body {
	padding-top:70px;
}

.container {
	width: 90%;
	max-width: 768px;
}

/**
 * START: Prevent navbar-toggle from collapsing
 */
.navbar-header {
  float: none;
}
.navbar-left,
.navbar-right {
  float: none !important;
}
.navbar-toggle {
  display: block;
}
.navbar-collapse {
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  text-align: right;
}
.navbar-fixed-top {
	top: 0;
	border-width: 0 0 1px;
}
.navbar-collapse.collapsing {
  width: 95%;
  margin: 0 auto;
}
.navbar-collapse.collapse {
  display: none!important;
  width: 95%;
  margin: 0 auto;
}
.navbar-nav {
  float: none!important;
	margin-top: 7.5px;
}
.navbar-nav > li {
  float: right;
  width: 100%;
  line-height: 2.5em;
  font-size: 0.85em;			/*@media*/
}
.navbar-nav > li > a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.collapse.in {
	display:block !important;
}
/**
 * END: Prevent navbar-toggle from collapsing
 */

.nav-links {
	margin-left: 1em;
}

@media (min-width: 360px) {
.navbar-nav > li {
  font-size: 1em;
}