.activetracker {
  > h1 {
    font-family: $font_head_main;
  }
}

table.activetracker-table {
  font-family: $font_body;
  font-size: 0.8em;

  @include breakpoint(large) {
    font-size: 0.9em;
  }

  td:nth-child(1) {
    width: 30%;
    text-align: center;
  }
  td:nth-child(2) {
    width: 70%;
  }

  .material-icons { vertical-align: middle; }
}
