table.activetracker-table {
  font-family: $font_body;
  font-size: 0.8em;

  @include breakpoint(large) {
    font-size: 0.9em;
  }

  thead td {
    color: $grey_steel;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  td:nth-child(1) {
    width: 30%;
    text-align: center;
  }
  td:nth-child(2) {
    width: 70%;
  }

  .material-icons { vertical-align: text-bottom; }
}
