.admin-dashboard-container {
  .activetracker-table {
    thead td {
      font-family: $font_body !important;
    }
    td:nth-child(1) {
      width: 25%;
      font-family: $font_body;
      text-align: center;
    }
    td:nth-child(2) {
      width: 65%;
      font-family: $font_body_thin;
    }
    td:nth-child(3) {
      width: 10%;
      font-family: $font_body_thin;
      font-weight: 700;
      text-align: center;

      .label:hover,
      .label:active {
        background-color: $ui_negative_hover;
      }
    }
  }
}

table.admin-permissions-table {
  font-family: $font_body_thin;

  thead td {
    font-family: $font_body !important;

    img {
      height: 1em;
      margin: 0 0.2em;
      vertical-align: initial;
    }
  }

  select { margin: 0 auto; }

  td:nth-child(1) {
    font-weight: 700;
  }
  td:nth-child(2),
  td:nth-child(3) {
    text-align: center;
  }

  .label:hover,
  .label:focus {
    cursor: pointer;
    background-color: $ui_positive_hover;
  }
}
