.admin-dashboard-container.admin-db-forms{
  form { position: relative; }
  form ul {
    list-style-type: none;
  }

  button.autoform-remove-item,
  button.autoform-add-item {
    cursor: pointer;
    margin: 0;
  }

  .autoform-remove-item-wrap { margin-right: 5px; }
  button.autoform-remove-item {
    background-color: $ui_warning

    &::before {
      content: 'X';
    }
  }

  button.autoform-add-item {
    background-color: $ui_warning;

    &::before {
      content: 'Add';
    }
  }

  button {
    @extend .button;
    @extend .alert;
    width: 100%;
  }
}
