.admin_database {
  font-family: $font_body_thin;

  h2 {
    font-family: $font_head_main;
  }
}

.admin-db-menu {
  ul li {
    list-style-type: none;
  }
}

a.admin-db-menu {
  font-family: $font_body;

}

table.admin-db-table {

  a.label:hover,
  a.label:active {
    color: $grey_steel;
    background-color: $light_marvel;
    cursor: pointer;
  }
}

.admin-db-categories-form {
  form { position: relative; }
  form ul {
    list-style-type: none;
  }

  button.autoform-remove-item ,
  button.autoform-add-item{
    display: none;
  }

  button {
    @extend .button;
    @extend .alert;
    width: 100%;
  }
}
