.admin_recentscores {
  table {
    font-family: $font_body_thin;
    font-size: 0.8em;

    @include breakpoint(large) {
      font-size: 0.9em;
    }

    thead td {
      color: $grey_steel;
      font-family: $font_body !important;
      font-size: 1em !important;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    td:nth-child(1) {
      width: 20%;
      text-align: right;
    }
    td:nth-child(3) {
      width: 20%;
      font-size: 0.8em;
      text-align: center;
    }
  }
}
