.status-meteor {
  display: inline-block;
  padding: 0 5px;

  .status-dot {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #f04124;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    &.status-connected {
      background-color: #43AC6A;
      -webkit-animation: status-glow 3s ease infinite;
      -moz-animation:    status-glow 3s ease infinite;
      -o-animation:      status-glow 3s ease infinite;
      animation:         status-glow 3s ease infinite;
    }

    &.status-waiting {
      background-color: #f60;
    }

    &.status-connecting {
      background-color: #f60;
      -webkit-animation: status-pulse 2s ease infinite;
      -moz-animation:    status-pulse 2s ease infinite;
      -o-animation:      status-pulse 2s ease infinite;
      animation:         status-pulse 2s ease infinite;
    }

    &.status-failed,
    &.status-offline {
      // color remains red
    }
  }

  // Note: .status-text is necessary because attaching ::after to
  // .status-dot does not allow us to align the text properly
  .status-text {
    display: inline-block;
    position: relative;
    bottom: 1px;        // Pushes up the text for alignment
    font-size: 10px;

    &.status-connected {

      &::after {
        content: 'Live!';
        // opacity: 0;
        // -webkit-animation: status-fade 6s 0s 1 ease-in;
        // -moz-animation:    status-fade 6s 0s 1 ease-in;
        // -o-animation:      status-fade 6s 0s 1 ease-in;
        // animation:         status-fade 6s 0s 1 ease-in;
      }
    }

    &.status-waiting {
      &::after {
        content: 'Waiting';
      }
    }

    &.status-connecting {
      &::after {
        content: 'Connecting';
      }
    }

    &.status-failed,
    &.status-offline {
      &::after {
        content: 'Disconnected';
      }
    }
  }
}


@-webkit-keyframes status-glow {
  25%   { box-shadow: 0 0 0px 0px #43AC6A; }
  50%   { box-shadow: 0 0 3px 1px #43AC6A; }
  25%   { box-shadow: 0 0 0px 0px #43AC6A; }
}
@-moz-keyframes status-glow {
  25%   { box-shadow: 0 0 0px 0px #43AC6A; }
  50%   { box-shadow: 0 0 3px 1px #43AC6A; }
  25%   { box-shadow: 0 0 0px 0px #43AC6A; }
}
@-o-keyframes status-glow {
  25%   { box-shadow: 0 0 0px 0px #43AC6A; }
  50%   { box-shadow: 0 0 3px 1px #43AC6A; }
  25%   { box-shadow: 0 0 0px 0px #43AC6A; }
}
@keyframes status-glow {
  25%   { box-shadow: 0 0 0px 0px #43AC6A; }
  50%   { box-shadow: 0 0 3px 1px #43AC6A; }
  25%   { box-shadow: 0 0 0px 0px #43AC6A; }
}


@-webkit-keyframes status-pulse {
  50%   { background-color: #43AC6A; }
}
@-moz-keyframes status-pulse {
  50%   { background-color: #43AC6A; }
}
@-o-keyframes status-pulse {
  50%   { background-color: #43AC6A; }
}
@keyframes status-pulse {
  50%   { background-color: #43AC6A; }
}


@-webkit-keyframes status-fade {
  0%    { opacity: 1; }
  66%   { opacity: 1; }
  100%  { opacity: 0; }
}
@-moz-keyframes status-fade {
  0%    { opacity: 1; }
  66%   { opacity: 1; }
  100%  { opacity: 0; }
}
@-o-keyframes status-fade {
  0%    { opacity: 1; }
  66%   { opacity: 1; }
  100%  { opacity: 0; }
}
@keyframes status-fade {
  0%    { opacity: 1; }
  66%   { opacity: 1; }
  100%  { opacity: 0; }
}
