.crimp_spectator {
  padding-top: 45px;

  nav {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 1000;

    .top-bar {
      padding-bottom: 4px;  // Hack to reduce space from clearfix
    }

    .top-bar-custom-right {
      position: absolute;
      right: 15px;
    }
  }
}

.top-bar,
.top-bar ul,
.top-bar li {
  width: 100%;
  font-family: $font_head_main;
  color: $marvel;
  background-color: $white;
}

.top-bar {
  border-bottom: 1px solid $grey_smoke;
}
