.s-alert-warning {
  color: $grey_steel;
  font-family: $font_body_thin;

  .header {
    display: block;
    font-family: $font_head_main;
  }

  .name,
  .route,
  .time {
    font-weight: 700;
  }
}
