$dropdownmenu-arrows: false;
/**
 * Settings for Foundation should go above
 */
@import '{zurb:foundation-sites}/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-close-button;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-flex-video;
@include foundation-label;
@include foundation-media-object;
@include foundation-menu;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;

// https://marvelapp.com/styleguide/design/color-scheme
$grey_black: #1F2D3D;
$grey_steel: #273444;
$grey_slate: #3C4858;
$grey_smoke: #E0E6ED;
$grey_snow: #F9FAFC;

$ui_blue: #1FB6FF;
$ui_positive: #13CE66;
$ui_negative: #FF4949;
$ui_warning: #FFC82C;

$marvel: #1FB6FF;
$purple: #7E5BEF;
$pink: #FF49DB;
$orange: #FF7849;
$green: #13CE66;
$yellow: #FFC82C;
$white: #FFFFFF;


.scoreboard-climbers {
  padding: 0;
  list-style: none;
}

.climber-scores td {
  width: 2em;
  font-size: 1em;
  border: 1px solid #555;
  text-align: center;
}


@import '../imports/ui/loader.scss';

@import '../imports/ui/crimp_spectator.scss';
@import '../imports/ui/conn_status.scss';
@import '../imports/ui/activetracker.scss';
@import '../imports/ui/scoreboard.scss';

