ErrorDocument 403 http://www.nusclimb.com/
ErrorDocument 404 http://www.nusclimb.com/404.php


# Deny access to directories with no index file
Options -Indexes


# Turn mod_rewrite on
Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /

## Hide file extensions
# To externally redirect /dir/foo.php to /dir/foo
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s([^.]+)\.php [NC]
RewriteRule ^ %1 [R,L,NC]

## To internally redirect /dir/foo to /dir/foo.php
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^ %{REQUEST_URI}.php [L]